<!DOCTYPE html>
<html>
<head>
  <style media="screen">
  /* FONTS */
  @font-face {
      font-family: 'upheaval_tt_brkregular';
      src: url('./fonts/upheavtt-webfont.woff2') format('woff2'),
           url('./fonts/upheavtt-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;

  }
  </style>
  <script src="face-api.js"></script>
  <script src="js/easytimer.min.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body class="">
  <div class="page-loader"></div>

  <audio id="audio-good" class="audio-player" controls>
    <source src="./sounds/good.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio-bad" class="audio-player" controls>
    <source src="./sounds/bad.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio-start" class="audio-player" controls>
    <source src="./sounds/start.mp3" type="audio/mpeg">
  </audio>
  <audio id="audio-end" class="audio-player" controls>
    <source src="./sounds/end.mp3" type="audio/mpeg">
  </audio>

  <div id="navbar" style="display:none;"></div>
  <div class="center-content page-container">

    <div class="main">

      <div class="pokerface">
        <p class="title">Poker Face</p>
        <!-- <p class="valueMeter-label">Neutral</p> -->
        <div class="valueMeter" id="neutralThreshold">
          <i class="bar"></i>
          <i class="draggable-cursor"></i>
        </div>
        <!-- <p class="valueMeter-label">Exception</p>
        <div class="valueMeter" id="exceptionThreshold">
          <i class="bar"></i>
          <i class="draggable-cursor"></i>
        </div> -->
      </div>

      <div class="video">

        <div class="progress" id="loader">
          <div class="indeterminate"></div>
        </div>
        <div class="my-video-container">
          <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
          <canvas id="overlay" />
        </div>

      </div>

    </div>

    <div class="sidebar">

      <div class="control">
        <div id="countdown">
          <h4>Time Left:</h4>
          <input type="time" class="values" name="appt"
       min="00:00" max="50:00" value="00:20">
        </div>
        <button class="play eightbit-btn" id="start-game">Play</button>
      </div>

      <div class="gameResultWin">You Win !</div>
      <div class="gameResultLose">You Lose !</div>

      <div class="detections">
        <h4>Detections:</h4>
        <ul id="detections-list">
        </ul>
      </div>

    </div>

    <div class="footer">

    <!-- <a href="#" class="more-settings">Show more options</a> -->
    <div class="settings">

      <br>

      <div class="row side-by-side">

        <div class="row">
          <label for="expressionException">Face expression Exception (optional):</label>
          <select id="expressionException" class="mySelect">
            <option selected value="">disabled</option>
            <!-- <option value="neutral">Neutral</option> -->
            <option value="happy">Happy</option>
            <option value="sad">Sad</option>
            <option value="surprised">Surprised</option>
            <option value="angry">Angry</option>
            <option value="disgusted">Disgusted</option>
            <option value="fearful">Fearful</option>
          </select>
        </div>

        <div class="row">
          <label for="exceptionInput">Face exception Threshold % (biggest = hardest):</label>
          <input value="10" id="exceptionInput" type="number" min="0" max="100" class="bold">
        </div>

      </div>

      <div class="row">
        <label for="neutralInterval">Face expression Neutral Interval (ms):</label>
        <input value="200" id="neutralInterval" type="number" min="0" max="100" class="bold">
      </div>

      <div class="row">
        <label for="expressionThreshold">Face expression Threshold % (biggest = hardest):</label>
        <input value="10" id="expressionThreshold" type="number" min="0" max="100" class="bold">
      </div>

      <div class="row side-by-side">

        <!-- face_detector_selection_control -->
        <div id="face_detector_selection_control" class="row input-field" style="margin-right: 20px;">
          <select id="selectFaceDetector">
            <option value="ssd_mobilenetv1">SSD Mobilenet V1</option>
            <option value="tiny_face_detector">Tiny Face Detector</option>
            <option value="mtcnn">MTCNN</option>
          </select>
          <label>Select Face Detector</label>
        </div>
        <!-- face_detector_selection_control -->

        <!-- check boxes -->
        <div class="row" style="width: 220px;">
          <input type="checkbox" id="hideBoundingBoxesCheckbox" onchange="onChangeHideBoundingBoxes(event)" />
          <label for="hideBoundingBoxesCheckbox">Hide Bounding Boxes</label>
        </div>
        <!-- check boxes -->

        <!-- fps_meter
        <div id="fps_meter" class="row side-by-side">
          <div>
            <label for="time">Time:</label>
            <input disabled value="-" id="time" type="text" class="bold">
            <label for="fps">Estimated Fps:</label>
            <input disabled value="-" id="fps" type="text" class="bold">
          </div>
        </div>
        fps_meter -->

      </div>


      <!-- ssd_mobilenetv1_controls -->
      <span id="ssd_mobilenetv1_controls">
        <div class="row side-by-side">
          <div class="row">
            <label for="minConfidence">Min Confidence:</label>
            <input disabled value="0.5" id="minConfidence" type="text" class="bold">
          </div>
          <button
            class="waves-effect waves-light btn"
            onclick="onDecreaseMinConfidence()"
          >
            <i class="material-icons left">-</i>
          </button>
          <button
            class="waves-effect waves-light btn"
            onclick="onIncreaseMinConfidence()"
          >
            <i class="material-icons left">+</i>
          </button>
        </div>
      </span>
      <!-- ssd_mobilenetv1_controls -->

      <!-- tiny_face_detector_controls -->
      <span id="tiny_face_detector_controls">
        <div class="row side-by-side">
          <div class="row input-field" style="margin-right: 20px;">
            <select id="inputSize">
              <option value="" disabled selected>Input Size:</option>
              <option value="128">128 x 128</option>
              <option value="160">160 x 160</option>
              <option value="224">224 x 224</option>
              <option value="320">320 x 320</option>
              <option value="416">416 x 416</option>
              <option value="512">512 x 512</option>
              <option value="608">608 x 608</option>
            </select>
            <label>Input Size</label>
          </div>
          <div class="row">
            <label for="scoreThreshold">Score Threshold:</label>
            <input disabled value="0.5" id="scoreThreshold" type="text" class="bold">
          </div>
          <button
            class="waves-effect waves-light btn"
            onclick="onDecreaseScoreThreshold()"
          >
            <i class="material-icons left">-</i>
          </button>
          <button
            class="waves-effect waves-light btn"
            onclick="onIncreaseScoreThreshold()"
          >
            <i class="material-icons left">+</i>
          </button>
        </div>
      </span>
      <!-- tiny_face_detector_controls -->

      <!-- mtcnn_controls -->
      <span id="mtcnn_controls">
        <div class="row side-by-side">
          <div class="row">
            <label for="minFaceSize">Minimum Face Size:</label>
            <input disabled value="20" id="minFaceSize" type="text" class="bold">
          </div>
          <button
            class="waves-effect waves-light btn"
            onclick="onDecreaseMinFaceSize()"
          >
            <i class="material-icons left">-</i>
          </button>
          <button
            class="waves-effect waves-light btn"
            onclick="onIncreaseMinFaceSize()"
          >
            <i class="material-icons left">+</i>
          </button>
        </div>
      </span>
      <!-- mtcnn_controls -->

    </div>

    </div>

  </body>

  <script>
    let forwardTimes = []
    let withBoxes = true

    function onChangeHideBoundingBoxes(e) {
      withBoxes = !$(e.target).prop('checked')
    }

    function updateTimeStats(timeInMs) {
      forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30)
      const avgTimeInMs = forwardTimes.reduce((total, t) => total + t) / forwardTimes.length
      $('#time').val(`${Math.round(avgTimeInMs)} ms`)
      $('#fps').val(`${faceapi.round(1000 / avgTimeInMs)}`)
    }

    var timer = new easytimer.Timer();
    var timeLeft = '00:20';
    var firstTime = true;

    async function onPlay() {

      if (firstTime) {
        $('body').addClass('ready');
        firstTime = false;
      }

      const videoEl = $('#inputVideo').get(0)

      if(videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
        return setTimeout(() => onPlay())


      const options = getFaceDetectorOptions()

      const ts = Date.now()

      const result = await faceapi.detectSingleFace(videoEl, options).withFaceExpressions()

      updateTimeStats(Date.now() - ts)

      if (result) {
        const canvas = $('#overlay').get(0);
        const $videoEl = $('#inputVideo');
        const displaySize = { width: $videoEl.width(), height: $videoEl.height() }
        const dims = faceapi.matchDimensions(canvas, displaySize, true);

        const resizedResult = faceapi.resizeResults(result, dims)
        const minConfidence = 0.05
        if (withBoxes) {
          //faceapi.draw.drawDetections(canvas, resizedResult)
          const drawOptions = {
            lineWidth: 2,
            boxColor: winning ? 'rgba(16, 232, 134, 1)' : 'rgba(245, 23, 23, 1)'
          }
          const drawBox = new faceapi.draw.DrawBox(resizedResult.detection.box, drawOptions)
          drawBox.draw(canvas)
        }
        faceapi.draw.drawFaceExpressions(canvas, resizedResult, minConfidence)

        pokerface(result);
      }

      // $('#overlay').height($('#inputVideo').height());
      // $('#overlay').width($('#inputVideo').width());

      setTimeout(() => onPlay())
    }

    async function run() {
      // load face detection and face expression recognition models
      await changeFaceDetector(TINY_FACE_DETECTOR)
      await faceapi.loadFaceExpressionModel('/')
      changeInputSize(224)

      // try to access users webcam and stream the images
      // to the video element
      const stream = await navigator.mediaDevices.getUserMedia({
        video: {
          width: 1920,
          height: 1080
        }
      })
      const videoEl = $('#inputVideo').get(0)
      videoEl.srcObject = stream
    }

    function updateResults() {}

    /* POKER FACE */

    var options = {
      faceExpressionThreshold: 10,
      faceExceptionThreshold: 10,
      neutralInterval: 100,
      faceException: ''
    }

    var last_play = null;
    var isPlaying = false;
    var winning = true;

    var timeInterval = Date.now();
    var countInterval = 0;
    var neutralSum = 0;
    var avgNeutral = 0;

    function pokerface(result) {

      // if (!isPlaying)
      //   return false;
      //console.log(result);
      const expressions = result.expressions;
      var exception = options.faceException;

      // average Neutral value
      if (Date.now() - timeInterval <= options.neutralInterval) {
        neutralSum += expressions.neutral;
        countInterval++;
      }
      else {
        avgNeutral = (neutralSum / countInterval) || expressions.neutral;
        neutralSum = 0;
        countInterval = 0;
        timeInterval = Date.now();
      }

      //console.log("Neutral: ", avgNeutral, expressions.neutral);

      updateSlider('neutralThreshold', avgNeutral*100);


      if (exception) {
        var valException = expressions[exception];
        updateSlider('exceptionThreshold', valException*100);

        if (
          avgNeutral <= options.faceExpressionThreshold
          && valException <= options.faceExceptionThreshold
        ) {
          bad();
        }
        else {
          good();
        }
      }
      else {
        if (avgNeutral <= options.faceExpressionThreshold) {
          bad();
        }
        else {
          good();
        }
      }

      $('#detections-list').html('');
      for (var key in expressions) {
        if (expressions[key] > options.faceExpressionThreshold) {
          $('#detections-list').append('<li>'+key+'</li>');
        }
      }

      function good() {
        winning = true;
        $('.pokerface').removeClass('nop');
        if(last_play != "good" && isPlaying) {
          //$('audio#audio-good')[0].play();
          last_play = "good";
        }
      }

      function bad() {
        winning = false;
        $('.pokerface').addClass('nop');
        if(last_play != "bad" && isPlaying) {
          //$('audio#audio-bad')[0].play();
          stop();
          last_play = "bad";
        }
      }

    }

    function playWin() {
      $('audio#audio-good')[0].play();
    }
    function playLost() {
      $('audio#audio-bad')[0].play();
    }

    var isStarted = false;

    function start() {
      isStarted = true;
      $('.gameResultWin, .gameResultLose').hide();
      $("#start-game").text('Stop');
      $('#countdown .values').attr('disabled','disabled');
      $('audio#audio-start')[0].play();
      $('audio#audio-start').bind('ended', function(){
        if (isStarted) {
          isPlaying = true;
          var t = timeLeft.split(':');
          timer.start({countdown: true, startValues: {
            minutes: parseInt(t[0]),
            seconds: parseInt(t[1])
          }});
        }
      });

    }

    function stop() {
      var audioStart = $('audio#audio-start')[0];
      audioStart.pause();
      audioStart.currentTime = 0;
      isStarted = false;
      isPlaying = false;
      $("#start-game").text('Play');
      timer.stop();
      $('#countdown .values').val(timeLeft);

      $('#countdown .values').removeAttr('disabled');
      $('#detections-list').html('');
      //updateSlider('neutralThreshold', 0);
      //updateSlider('exceptionThreshold', 0);

      if(winning) {
        $('.gameResultWin').show();
        playWin();
      }
      else {
        $('.gameResultLose').show();
        playLost();
      }
    }

    function pad(number, length) {
      var str = '' + number;
      while (str.length < length) {
        str = '0' + str;
      }
      return str;
    }

    timer.addEventListener('secondsUpdated', function (e) {
      var timeValues = timer.getTimeValues();
      $('#countdown .values').val(pad(timeValues.minutes, 2)+':'+pad(timeValues.seconds, 2));

      // if (timeValues.seconds <= 2 && $('audio#audio-end')[0].paused) {
      //   $('audio#audio-end')[0].play();
      // }
    });

    timer.addEventListener('targetAchieved', function (e) {
      stop();
    });


    function updateOptions() {
      options.neutralInterval = $('#neutralInterval').val();
      console.log("neutralInterval:", options.neutralInterval);

      options.faceException = $('#expressionException').val();
      console.log("faceException:", options.faceException);

      console.log("update Options");
    }

    function updateSlider(id, val) {
      $('#'+id).find('.bar').width(val+'%');
    }

    function initSlider($elem, $input, optionName) {
      $cursor = $elem.find('.draggable-cursor');
      $input.on('change', function() {
        var v = $(this).val() / 100;
        options[optionName] = v;
        $cursor.css({ left: (v * 100)+'%' });
      });
      $input.change();
      $elem.find('.draggable-cursor').draggable({
        axis: "x",
        containment: '#'+$elem.attr('id'),
        scroll: false,
        stop: function() {
          var posLeft = $(this).position().left / $elem.width() * 100;
          options[optionName] = Math.round(posLeft) / 100;
          $input.val(Math.round(posLeft));
        }
      });
    }

    $(document).ready(function() {
      renderNavBar('#navbar', 'webcam_face_expression_recognition')
      initFaceDetectionControls()
      run()

      updateOptions();

      initSlider($('#neutralThreshold'), $('#expressionThreshold'), 'faceExpressionThreshold');
      initSlider($('#exceptionThreshold'), $('#exceptionInput'), 'faceExceptionThreshold');

      $('#neutralInterval, #expressionException').change(function() {
        updateOptions();
      });

      $('#countdown .values').change(function() {
        timeLeft = $(this).val();
        console.log(timeLeft);
      });

      $(".more-settings").click(function() {
        $(".settings").slideToggle("fast");
      });

      $("#start-game").click(function() {
        if (isPlaying) {
          stop();
        }
        else {
          start();
        }
      });

      $(document).on("keydown", function(e) {
        var code = e.keyCode || e.which;
        if(code == 82) { // R
          $(".settings").slideToggle("fast");
        }
      });

    });
  </script>
</html>
